body {
    color: #2C4A64;
}

.container-fluid {
    background-image: url("../img/bg-wallpaper.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#months-left,
#seconds-left,
#hours-left,
#days-left,
#minutes-left {
    font-size: 5rem;
}

.countdown-text {
    font-size: 2.5rem;
}

.new-year-text {
    font-size: 4rem;
}

.text-desc {
    font-size: 1.5rem;
}